<footer class="footer">
	<div class="container">
		<div class="columns">
			<div class="column">
				Made with <span class="icon has-text-danger"><i class="fas fa-heart"></i></span> by the <a href="/team">VorteKore Team</a>!
			</div>
			<div class="column has-text-right">
				&copy; VorteKore 2019 - <%= new Date().getFullYear() %>
				<a class="hover-link" href="https://discord.gg/8nqD2Qa">
					<span class="icon has-text-discord"><i class="fab fa-discord"></i></span>
					<span>Support</span>
				</a>
				<span class="icon" style="font-size: .8rem;"><i class="fas fa-plus"></i></span>
				<a class="hover-link" href="http://bit.ly/2EmfskO">
					<span>Invite</span>
					<span class="icon has-text-primary"><i class="fas fa-envelope"></i></span>
				</a>
			</div>
		</div>
	</div>
</footer>