<%- include("inc/head") %>
<body>
  <%- include("inc/navbar") %>

  <div class="hero is-primary is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-large">Uh oh</h1>
        <h2 class="subtitle">
					We couldn't find what you were looking for :/
        </h2>
      </div>
    </div>
  </div>
  <%- include("inc/footer") %>
</body>
